ENV=prod
HOST=http://your-server-ip
PORT=8080
STORAGE_TYPE=postgres
SHUTDOWN_TIMEOUT=5
MAX_ATTEMPTS=5
CAPACITY_CACHE=1000

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=shorter_url
